[Unit]
Description=TH Studio prod stack
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/root/apps/a11studio
ExecStart=/usr/bin/docker compose -f compose.prod.yaml up -d --remove-orphans
ExecStop=/usr/bin/docker compose -f compose.prod.yaml down

[Install]
WantedBy=multi-user.target
